/experiments/__pycache__
/experiments/.dm
/.vscode
/experiments/.ipynb_checkpoints
/experiments/post-review/scripts/__pycache__
*.out
*.log
/experiments/post-review/openkey.txt
/experiments/.env
/experiments/*.log
/.idea
/experiments/.embs
/experiments/data/10K
/experiments/data/50K

